<div class="fileDetailsPage">
  <h2><%= locals.file.fileName %></h2>
  
  <%- include("../partials/file-properties") %>
  
  <div class="options">
    <a 
      href="<%= `/arquivo/${locals.file.id}/baixar` %>"
      class="button"
    >
      Baixar
    </a>

    <a 
      href="<%= `/arquivo/${locals.file.id}/apagar` %>"
      class="button"
    >
      Apagar
    </a>
    
    <a 
      href="<%= `/arquivo/${locals.file.id}/renomear` %>"
      class="button"
    >
      Renomear
    </a>
    
    <a 
      href="<%= `/arquivo/${locals.file.id}/compartilhar` %>"
      class="button"
    >
      <%= locals.file.shareCode ? "Parar de compartilhar" : "Compartilhar" %>
    </a>

    <% if (locals.file.shareCode) { %>
      <button 
        type="button"
        id="copyUrl"
        data-share-code="<%= locals.file.shareCode %>"
      >
        Copiar link para compartilhamento
      </button>
    <% } %>
  </div>
  
  <a href="<%= `/pasta/${locals.file.folderId}` %>" class="blockLeft">
    Ir para a pasta do arquivo
  </a>
</div>