<h1>
  <%= locals.directory.rootOfUserId ? "Meus Arquivos" : locals.directory.name %>
</h1>

<a href="<%= `/pasta/${directory.id}/criar` %>">Nova pasta</a>

<% if (!locals.directory.rootOfUserId) { %>
  <a href="<%= `/pasta/${directory.id}/renomear` %>">Renomear</a>
  <a href="<%= `/pasta/${directory.id}/apagar` %>">Apagar</a>
<% } %>

<hr>
<%- include("../partials/send-file-form") %>
<hr>

<% const hasSubdirectories = locals.directory.subdirectories?.length > 0 %>
<% const hasFiles = locals.directory.files?.length > 0 %>
<% const notEmpty = hasSubdirectories || hasFiles %>

<% if (notEmpty) { %>
  <table>
    <thead>
      <tr>
        <th scope="col">Nome do arquivo</th>
        <th scope="col">Tamanho</th>
        <th scope="col">Data do envio</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>

    <tbody>
      <% if (hasSubdirectories) { %>
        <% locals.directory.subdirectories.forEach(dir => { %>
          <tr>
            <td>
              <a href="<%= `/pasta/${dir.id}` %>"><%= dir.name %></a>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% }) %>
      <% } %>

      <% if (hasFiles) { %>
        <% locals.directory.files.forEach(file => { %>
          <tr>
            <td><%= file.fileName %></td>
            <td><%= file.size %> bytes</td>
            <td class="date"><%= file.uploadTime %></td>
            <td>
              <a href="<%= `/arquivo/${file.id}/baixar` %>">Baixar</a>
              <a href="<%= `/arquivo/${file.id}/apagar` %>">Apagar</a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p><i>Ainda não há arquivos por aqui...</i></p>
<% } %>

<%- include("../scripts/format-client-dates") %>
