<div class="fileDetailsPage">
  <h2><%= locals.file.fileName %></h2>
  
  <p>
    <b>Tamanho: </b>
    <%= parseFloat((locals.file.size / 1e6).toFixed(2)) %> MB
  </p>
  
  <p>
    <b>Proprietário: </b>
    <%= 
      locals.file.owner.name
        ? `${locals.file.owner.name} (${locals.file.owner.username})`
        : locals.file.owner.username
    %>
  </p>
  
  <div class="options">
    <a 
      href="<%= `/arquivo/${locals.file.id}/baixar` %>"
      class="button ok"
    >
      Baixar
    </a>

    <a 
      href="<%= `/arquivo/${locals.file.id}/apagar` %>"
      class="button"
    >
      Apagar
    </a>
    
    <a 
      href="<%= `/arquivo/${locals.file.id}/renomear` %>"
      class="button"
    >
      Renomear
    </a>
  </div>
  
  <a href="<%= `/pasta/${locals.file.folderId}` %>" class="blockLeft">
    Ir para a pasta do arquivo
  </a>
</div>