<div class="folderFormPage">
  <h1><%= locals.title %></h1>

  <%
    const createFolderAction = `/pasta/${locals.folder.id}/criar` 
    const renameFolderAction = `/pasta/${locals.folder.id}/renomear` 
    const action = isEdit ? renameFolderAction : createFolderAction 
  %>
  
  <form action="<%= action %>" method="post">
    <%- include("../partials/form-errors") %>
    
    <div class="formRow">
      <label for="name"><%= isEdit ? "Novo nome:" : "Nome:" %></label>
  
      <input
        type="text"
        name="name"
        id="name"
        maxlength="250"
        required
        value="<%= value %>"
        autocomplete="off"
      />
    </div>
    <div class="formControls">
      <button type="submit"><%= isEdit ? "Salvar" : "Criar pasta" %></button>
      <a
        href="<%= `/pasta/${isEdit ? locals.folder.id : locals.folder.parentId}` %>"
        class="button"
      >
        Cancelar
      </a>
    </div>
  </form>
</div>
