<div class="contentTable">
  <%- include("folder-title") %>

  <%
    const hasSubfolders = locals.folder.subFolders?.length > 0;
    const hasFiles = locals.folder.files?.length > 0;
    const notEmpty = hasSubfolders || hasFiles;
  %>

  <% if (notEmpty) { %>
    <div class="tableContainer">
      <table>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Data</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>

        <tbody>
          <%# Folders %>
          <% if (hasSubfolders) { %>
            <% locals.folder.subFolders.forEach(folder => { %>
              <tr>
                <td class="icon">
                  <img src="/images/folder-icon.svg">
                </td>
                <td class="name">
                  <a href="<%= `/pasta/${folder.id}` %>"><%= folder.name %></a>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% }) %>
          <% } %>

          <%# Files %>
          <% if (hasFiles) { %>
            <% locals.folder.files.forEach(file => { %>
              <tr>
                <td class="icon">
                  <%- 
                    include("content-table-icon", {mimeType: file.mimeType}) 
                  %>
                </td>

                <td class="name">
                  <a href="<%= `/arquivo/${file.id}` %>">
                    <span class="fileName"><%= file.fileName %></span>
                    <% if (file.shareCode) { %>
                      <span class="shareWarning">🌐</span>
                    <% } %>
                  </a>
                </td>

                <td class="size">
                  <%= 
                    file.size < 10000 
                      ? "\< 0,01" 
                      : parseFloat((file.size / 1e6)
                          .toFixed(2))
                          .toLocaleString("pt-BR")
                  %> MB
                </td>

                <td class="date">
                  <%= file.uploadTime %>
                </td>

                <td class="fileOptions">
                  <a href="<%= `/arquivo/${file.id}/baixar` %>" class="button small">
                    Baixar
                  </a>
                  <a href="<%= `/arquivo/${file.id}/apagar` %>" class="button small">
                    Apagar
                  </a>
                </td>
              </tr>
            <% }) %>
          <% } %>
        </tbody>
      </table>
    </div>
  <% } else { %>
    <p><i>Ainda não há arquivos nem pastas por aqui...</i></p>
  <% } %>
</div>