<h1>
  <%= locals.folder.rootOfUserId ? "Meus Arquivos" : locals.folder.name %>
</h1>

<a href="<%= `/pasta/${folder.id}/criar` %>">Nova pasta</a>

<% if (!locals.folder.rootOfUserId) { %>
  <a href="<%= `/pasta/${folder.id}/renomear` %>">Renomear</a>
  <a href="<%= `/pasta/${folder.id}/apagar` %>">Apagar</a>
<% } %>

<hr>
<%- include("../partials/send-file-form") %>
<hr>

<% const hasSubfolders = locals.folder.subFolders?.length > 0 %>
<% const hasFiles = locals.folder.files?.length > 0 %>
<% const notEmpty = hasSubfolders || hasFiles %>

<% if (notEmpty) { %>
  <table>
    <thead>
      <tr>
        <th scope="col">Nome do arquivo</th>
        <th scope="col">Tamanho</th>
        <th scope="col">Data do envio</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>

    <tbody>
      <% if (hasSubfolders) { %>
        <% locals.folder.subFolders.forEach(dir => { %>
          <tr>
            <td>
              <a href="<%= `/pasta/${dir.id}` %>"><%= dir.name %></a>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% }) %>
      <% } %>

      <% if (hasFiles) { %>
        <% locals.folder.files.forEach(file => { %>
          <tr>
            <td>
              <a href="<%= `/arquivo/${file.id}` %>"><%= file.fileName %></a>
            </td>
            <td><%= file.size %> bytes</td>
            <td class="date"><%= file.uploadTime %></td>
            <td>
              <a href="<%= `/arquivo/${file.id}/baixar` %>">Baixar</a>
              <a href="<%= `/arquivo/${file.id}/apagar` %>">Apagar</a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p><i>Ainda não há arquivos por aqui...</i></p>
<% } %>

<%- include("../scripts/format-client-dates") %>
