<% if (locals.user) { %>
<h1>Olá <%= locals.user.name || locals.user.username %></h1>

<form action="/enviar-arquivo" method="post" enctype="multipart/form-data">
  <label for="file">Fazer upload de arquivo</label>
  <input type="file" name="file" id="file" />
  <p><i>Tamanho máximo de 25 MB</i></p>

  <button type="submit">Enviar</button>
</form>

<h1>Meus Arquivos</h1>
<% if (locals.files.length > 0) { %>
<table>
  <thead>
    <tr>
      <th scope="col">Nome do arquivo</th>
      <th scope="col">Tamanho</th>
      <th scope="col">Opões</th>
    </tr>
  </thead>
  <tbody>
    <% locals.files.forEach(file => { %>
    <tr>
      <td><%= file.fileName %></td>
      <td><%= file.size %> bytes</td>
      <td>
        <form action="<%= `/arquivo/download/${file.id}` %>" method="post">
          <button>Baixar</button>
        </form>
        <form action="<%= `/arquivo/apagar/${file.id}` %>" method="post">
          <button>Apagar</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<p><i>Ainda não há arquivos por aqui...</i></p>
<% } %> <% } else { %>
<p>Olá! Faça log-in e comece a usar o serviço!</p>
<% } %>
